@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.container {
  margin-top: 25px;
}

#rates-main {
  font-size: 70px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

#rates-sub {
  font-size: 35px;
  color: #FBE14C;
  margin: auto;
}

#form-main {
  margin: auto;
}

#form {
  background-color: #ffffff;
  margin: auto;
  width: 20vw;
  height: auto;
  padding: 20px;
  border-radius: 25px;
}

#form-head {
  font-size: 25px;
}

#zip {
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
}

#insured {
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
}

#age {
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
}

#btn {
  font-family: fira, sans-serif;
  color: #ffffff;
  background-color: #D22C1F;
  font-size: 20px;
  padding: 14px 40px;
  width: 100%;
  margin: auto;
}

#secure-txt {
  color: #968787;
  margin: auto;
}

#modal {
  z-index: 100;
  position: fixed;
  background-color: #ffffff;
  top: 30vh;
  left: 33%;
  width: 25vw;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
}

#bullet {
  margin-bottom: 20px;
}

#cars {
  background-image: url("cars.jpg");
}

#banner {
  margin-bottom: 15vh;
}

body {
  background-image: url("bg.jpg");
  background-size: 100vw 65vh;
  background-repeat: no-repeat;
}